<ion-modal [isOpen]="show" [showBackdrop]="true">
  <ng-template>
      <ion-content>
        <ion-card style="border: solid 2px #371450">
          <ion-card-header>
            <ion-item>
              <ion-card-title style="text-align: center;">{{meal2.label}}</ion-card-title>
              <ion-button  (click)="dismiss()" fill="clear">
                <ion-icon slot="end" name="close-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-header>
          <ion-card-subtitle>
            <ion-chip color="warning" outline="true">
              <ion-label>Prix : {{meal2.price}}€</ion-label>
            </ion-chip>
          </ion-card-subtitle>
          <ion-card-content>
              <img style="height: 200px; width: 200px; margin-left:15%;" [src]="meal2.img" alt="">
              <ion-list>
                <ion-title>Ingredients</ion-title>
                <ion-item *ngFor="let ingredient of meal2.ingredients">
                  {{ingredient.label}}
                </ion-item>
              </ion-list>
          <ion-item>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button size="small" color="warning" (click)="addToCart(meal)">
                  <ion-icon  name="cart-outline"></ion-icon>
                  <ion-title>Ajouter au panier</ion-title>
                </ion-button>
                <ion-button size=small fill="clear" (click)="dismiss()">
                  <ion-title>Annuler</ion-title>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
</ion-modal>


